{% extends "quiz/base.html" %}

{% block app_content %}
    <h3 class="float-left text-primary">Pointage: {{ score }}</h3>
    <h3 class="float-right text-danger">Vies: {{ lives }}</h3>
    <br>
    <br>
    <br>
    <h3>{{ question.question }}</h3>
    <br>
    <form action="{% url 'quiz:question' question_id=question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question_choices %}
        {% if choice != '...' %}
            <div class="radio">
                <label><input type="radio" name="choice" value="{{ choice }}"> {{ choice }}</label>
            </div>
            <br>
        {% endif %}
        {% endfor %}
        <br>
        <button type="submit" name="button" class="btn btn-primary btn-lg">Valider</button>
    </form>
{% endblock %}
