{% extends "quiz/base.html" %}

{% block app_content %}
    <h3 class="float-left text-primary">Pointage: {{ score }}</h3>
    <h3 class="float-right text-danger">Vies: {{ lives }}</h3>
    <br>
    <br>
    <br>
    <h3>{{ question.question }}</h3>
    <br>
    <form action="{% url 'quiz:question' question_id=question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question_choices %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" name="choice" aria-label="Radio button for following text input">
                    </div>
                </div>
                <label type="text" class="form-control" name="choice_text"">{{ choice }}</label>
            </div>
            <br>
        {% endfor %}
        <br>
        <button type="submit" name="button" class="btn btn-primary btn-lg">Valider</button>
    </form>
{% endblock %}
